name: ci

on: [push, pull_request]

jobs:
  build-images:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        include:
          - image: almalinux9-oj17
            platforms: linux/amd64,linux/arm64
          - image: almalinux9-oj17-openldap-referrals
            platforms: linux/amd64,linux/arm64
            test: openldap
          - image: almalinux9-oj17-openldap-active-directory
            platforms: linux/amd64,linux/arm64
            test: openldap-active-directory
          # TODO https://github.com/trinodb/trino/issues/24945 Reenable Polaris tests in Iceberg
          # - image: polaris-catalog
          #  test: polaris-catalog
          - image: spark3-iceberg
            platforms: linux/amd64,linux/arm64
            test: spark3-iceberg
          - image: spark3-delta
            platforms: linux/amd64,linux/arm64
            test: spark3-delta
          - image: spark3-hudi
            platforms: linux/amd64,linux/arm64
            test: spark3-hudi
          - image: kerberos
            platforms: linux/amd64,linux/arm64
            test: kerberos
          - image: hive3.1-hive
            platforms: linux/amd64,linux/arm64
            test: hive3.1-hive
          - image: hive4.0-hive
            # Haven't added `linux/arm64` platform as test image fails with `The requested image's platform (linux/arm64) does not match the detected host platform (linux/amd64/v3) and no specific platform was requested`
            platforms: linux/amd64
            test: hive4.0-hive
          - image: hdp3.1-hive-kerberized
            test: hdp3.1-hive
          # TODO add test https://github.com/trinodb/trino/issues/14543
          - image: phoenix5
            platforms: linux/amd64,linux/arm64
          # TODO https://github.com/trinodb/trino/issues/24945 Reenable Unity tests in Iceberg
          # - image: unity-catalog
          #   test: unity-catalog
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0 # checkout tags so version in Manifest is set properly
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2
      with:
        ## Temporary due to bug in qemu:  https://github.com/docker/setup-qemu-action/issues/198
        image: tonistiigi/binfmt:qemu-v7.0.0-28
    - name: Build ${{ matrix.image }}
      env:
        PLATFORMS: ${{ matrix.platforms }}
      run: make "testing/${{ matrix.image }}"
    - name: Test ${{ matrix.test }}
      env:
        PLATFORMS: ${{ matrix.platforms }}
      if: ${{ matrix.test  != '' }}
      shell: 'script -q -e -c "bash {0}"'
      run: make test IMAGE_TO_TEST="${{ matrix.test }}"
